<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ConnStr" value="Server=213.159.4.19;Database=elmasiumDb;Integrated Security=false;User Id=elmasium;Password=OutWriter1535." />
  </appSettings>
</configuration>