<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ConnStr" value="Server=elmasium.com;Database=elmasiumDb;Integrated Security=false;user id=elmasium;password=OutWriter1535." />
    <add key="PdfFileDirectory" value="C:\backup\pdf"/>
  </appSettings>
</configuration>